.menu {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: #b0ddaa;
  color: #fff;
}

.menu-items {
  gap: 2rem;
  display: flex;
  align-items: center;
}

.ul {
  display: flex;
  gap: 1rem;
}
